<div class="sidenav-container">
  <div class="sidenav-header">
    <div class="logo">KeepItFresh</div>
  </div>

  <mat-nav-list>
    <ng-container *ngFor="let item of sidenavItems">
      <a mat-list-item
         class="nav-item"
         [routerLink]="item.route"
         routerLinkActive="active-link"
         (click)="handleItemClick(item)"
         *ngIf="!item.action || (item.action === 'logout' && isLoggedIn)">

        <mat-icon class="nav-icon">{{ item.icon }}</mat-icon>
        <span>{{ item.label | translate }}</span>
      </a>
    </ng-container>
  </mat-nav-list>

</div>
